# Data Science Tools and Ecosystem

# **Objectives:**

* List populer languages in Data Science
* List commonly used libraries in Data Science
* How to create a table in Jupyter note book
* Getting started with basic arithmetic operations

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Julia
4. Scala
5. Java Script
6. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. Matplotlib
4. Seaborn
5. Scikit-learn
6. Keras
7. TensorFlow
8. PyTorch

| Data Science Tools |
|:----------         | 
| MySQL              |
| Hadoop File System |
| MongoDB            |

### Below are a few examples of evaluating arithmetic expressions in Python

In [6]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [7]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author 
Udaya Herath Gedara